* {
  font-family: 'Vazir', sans-serif;
}

/* Make the chart container fill the page using CSS. */

#chart {
  background: #212121;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family: 'Vazir', sans-serif;
}

g text {
  text-shadow: 1px 2px 0 #555;
}